/* VARIABLES
============================================= */
/* COLOR VARIABLES
============================================= */
/* Mixins
============================================= */
h1, h2, h3, h4, h5, h6, p, a {
  padding: 0;
  margin: 0;
  color: white;
}

h1, h2 {
  background: linear-gradient(90deg, #008F00, #C2DF38, #C2DF38);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

a:hover {
  background: linear-gradient(90deg, #008F00, #C2DF38, #C2DF38);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: monospace;
  padding-inline-start: 10px;
}
.skills li {
  text-align: center;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #4FC231;
  list-style-type: none;
}
.skills li:hover {
  background: linear-gradient(-45deg, #4FC231, #008F00);
  -webkit-box-box-shadow: 1px 1px 10px #C2DF38;
  -moz-box-box-shadow: 1px 1px 10px #C2DF38;
  box-shadow: 1px 1px 10px #C2DF38;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #012D38;
  text-align: center;
}

.app {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.presentation {
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #024353, #0E687E);
  -webkit-box-box-shadow: 5px 5px 30px #012D38;
  -moz-box-box-shadow: 5px 5px 30px #012D38;
  box-shadow: 5px 5px 30px #012D38;
}
.presentation__bio {
  margin-bottom: 16px;
  text-align: center;
}
.presentation__bio p {
  margin-top: 10px;
}
.presentation__bio-avatar img {
  border-radius: 100%;
  border: 3px solid #C2DF38;
  -webkit-box-box-shadow: 5px 5px 30px #012D38;
  -moz-box-box-shadow: 5px 5px 30px #012D38;
  box-shadow: 5px 5px 30px #012D38;
}
.presentation__bio-avatar img:hover {
  -webkit-box-box-shadow: 5px 5px 30px #C2DF38;
  -moz-box-box-shadow: 5px 5px 30px #C2DF38;
  box-shadow: 5px 5px 30px #C2DF38;
  cursor: pointer;
}
.presentation__skills {
  margin-bottom: 16px;
}
.presentation__contact-social {
  text-align: center;
}
.presentation__contact-social a {
  padding: 10px;
  font-size: 32px;
}

.experience {
  width: 50%;
  padding: 40px;
}
.experience h3, .experience h4, .experience h5, .experience h6, .experience p {
  color: black;
}
.experience__item {
  margin: 20px 0;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-box-shadow: 2px 2px 5px #012D38;
  -moz-box-box-shadow: 2px 2px 5px #012D38;
  box-shadow: 2px 2px 5px #012D38;
}

@media only screen and (max-width: 769px) {
  .app {
    display: block;
  }

  .presentation {
    width: 100%;
  }

  .experience {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .app h1 {
    font-size: 1.5em;
  }
  .app h2 {
    font-size: 1em;
  }
  .app h3 {
    font-size: 0.9em;
  }
  .app h4 {
    font-size: 0.8em;
  }
  .app h5 {
    font-size: 0.7em;
  }
  .app h6 {
    font-size: 0.6em;
  }
  .app p {
    font-size: 0.9em;
  }
  .app li {
    font-size: 0.8em;
  }
}