body{
	
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	
}
header{
	height: 150px;
}
#fondo{
	background-image: url(../img/xv.png);
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	z-index: -7;
	width: 100%;
	visibility: visible;
	opacity: 0.7;
}
.fondoSec{
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	z-index: -7;
	width: 100%;
	visibility: visible;
	opacity: 0.8;
}
.fondoSec2{
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	z-index: -7;
	width: 100%;
	visibility:hidden;
	opacity: 0.8;
}
#uno, #dos, #tres, #cuatro{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	z-index: 3;
	width: 100%;
	display: none;
}
#seccion1{
	width: 66%;
	top:45%;
	
}
#uno img{
	margin-top: 35px;
}
.content{width:66%; text-align: center; margin: 0 auto;}
.content p{text-align: justify;}
.galleria{ width: 100%; height: 480px; margin: 0 auto; left: 10px; right: 10px; overflow: hidden;}
a p{color: white;}
#skills, #skills2, #skills3, #skills4{
	margin-top: 10%;
}
.ico-habilidades{
	width:25%;
}
.bhome{
	border-radius: 0px;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}
.bhome:hover{
	background-color: #2e770c;
	border-radius: 2px;
	cursor: pointer;
}
#vacio{
	height: 150px;
}
p{
	text-align: justify;
	font-size: 1em;
	font-family: gravityregular;
	color: white;
	opacity:0.8;
}
#videoBG{
	position: fixed;
	background-size: cover;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
	min-height: 100%;
	min-width: 100%;
	z-index: -10;
	width: 100%;
	opacity: 0.5;
}
#nombre{
	height: 150px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
h1, h2, h3{
	font-family: kingthings_calligraphica_2Rg;
	color: white;
}
#nombre h1{
	font-size: 40px;
	font-family: kingthings_calligraphica_2Rg;
	color: white;
	text-align: center;
}
#nombre h2{
	margin-top: -10px;
	font-size: 14px;
	font-family: gravityregular;
	color: white;
	text-align: center;
}
#menu{
	position: relative;
	width: 100%;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/flechas.svg);
	background-repeat: no-repeat;
    background-position: center;
	background-size: 360px;
}
#quien, #trabajo, #habilidades, #contacto{
	position: relative;
	font-family: kingthings_calligraphica_2Rg;
	color: white;
	text-align: center;
	display: none;
	margin:auto;
	top:50%;
}
#secciones{
	position: relative;
	height: 150px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}
#menu section{
	height: 120px;
}
#menu img{
	height: 50px;
	
}
#op1{
	position: absolute;
	left:47.5%;
	top:70px;
}
#op2{
	position: absolute;
	left:40%;
	top: 40px;
}
#op3{
	position: absolute;
	right:40%;
	top: 40px;
}
#op4{
	position: absolute;
	left:47.5%;
	top:5px;
}
#op1, #op2, #op3, #op4, #mail{
	border-radius: 0px;
	transition: all 0.7s;
	transition-timing-function: ease-in-out;
}
#op1:hover, #op2:hover, #op3:hover, #op4:hover, #mail:hover{
	background-color: #2e770c;
	border-radius: 5px;
	cursor: pointer;
} 
#social{
	margin: auto;
	width: 150px;
}
#social img{
	border-radius: 0px;
	transition: all 0.5s;
	transition-timing-function: ease-in-out;
}
#social img:hover{
	background-color: #2e770c;
	border-radius: 2px;
	cursor: pointer;
}
@media screen and (max-width: 480px){
	body{background-color: #2e770c;}
	.fondoSec{background-color: #2e770c; opacity: 1;}
	.fondoSec2{background-image: url(../img/light-grey-floral-motif.png); visibility: visible; opacity: 0.7;}
	header{height: 50px}
	#vacio{height: 50px;}
	#fondo{opacity: 0.5;background-image: url(../img/light-grey-floral-motif.png);}
	#videoBG{opacity: 0;}
	#secciones{display: none;}
	#menu{width: 320px;}
	#nombre{position: relative; width: 320px;top:-50px;}
	#op1{position: absolute;left:43%;top:80px;}
	#op2{position: absolute;left:23%;top: 40px;}
	#op3{position: absolute;right:23%;top: 40px;}
	#op4{position: absolute;left:43%;top:5px;}
	.galleria{height: 240px;}
	.content{width:100%; left: 10px; right: 10px; overflow: hidden;}
	#seccion1{width: 100%; text-align: center;}
	p{text-align: center;}
}
@media screen and (min-width: 481px) and (max-width: 920px){
	body{background-color:#440066;}
	.fondoSec{background-color: #440066; opacity: 1;}
	.fondoSec2{background-image: url(../img/light-gray.png); visibility: visible; opacity: 0.8;}
	#fondo{opacity: 0.9;background-image: url(../img/light-gray.png);}
	#menu{width: 100%;}
	#videoBG{opacity: 0;}
	header{height: 50px;}
	#vacio{height: 25px;}
	#nombre{position: relative; width: 100%;top:-50px;}
	#op1{position: absolute;left:46%;top:80px;}
	#op2{position: absolute;left:35%;top: 40px;}
	#op3{position: absolute;right:35%;top: 40px;}
	#op4{position: absolute;left:46%;top:5px;}
	.galleria{height: 360px; left: 10px; right: 10px; overflow: hidden;}
	.content{width:100%;}
	#seccion1{width: 100%; text-align: center;}
	p{text-align: center;}
}


