/* Global */
*{
  margin: 0;
  padding: 0;
  transition: all 0.4s;
}

body{
  background-color: #EAEAEA;
}

/* Typos */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

h1{
  font-family: 'Archivo Black', sans-serif;
  font-size: 64px;
  color: #C2DF38;

}
h2{
  font-family: 'Archivo Black', sans-serif;
  font-size: 36px;
  margin: 6px auto;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 6px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
a, li{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.mono{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

h2, h3, p, li, a{
  color: #012C37;
}
a:hover{
  color: #C2DF38;
}
/* Colors */
.white{
  color: white;
}
.grey{
  color: #B3B3B3;
}
.green-yellow-bg{
  background-color: #C2DF38;
}
.galaxy-blue-bg{
  background-color: #012C37;
}
.green-hood-bg{
  background-color: #009000;
}
.lemon-hood-bg{
  background-color: #4FC231;
}
.light-blue-bg{
  background-color: #277B8F;
}
.violet-hood-bg{
  background-color: #901CD7;
}
.grey-hood-bg{
  background-color: #B3B3B3;
}
.white-bg{
  background-color: white;
}

/* Atoms */
.btn{
  display: block;
  margin: 8px 0;
  /* width: 224px; */
  padding: 12px 16px;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
  background-color: #C2DF38;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #012C37;
  display: inline-block;
  text-align: center;
}
.btn:hover{
  color: white;
}

.field{
  border-radius: 3px;
  border: 1px solid #B3B3B3;
  padding: 8px 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #012C37;
}

.avatar img{
  border-radius: 100%;
  width: 200px;
  border:#C2DF38 solid 3px;
}

.tags li{
  display: inline-block;
  margin: 4px 2px;
  border: #012C37 1px solid;
  border-radius: 3px;
  padding: 0 2px;
}
.cards-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card{
  max-width: 360px;
  background-color: white;
  border: #B3B3B3 1px solid;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(1, 44, 55, 0.25);
  margin: 10px 0;
  align-self: start;
}
.card-content{
  padding: 10px;
}
.card-top img{
  width: 100.1%;
  border-radius: 3px 3px 0 0;
}



/* Structure */
header{
  background-color: #012C37;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section{
  margin-top: 24px;
  padding: 12px 10vw;
}

footer{
  margin-top: 24px;
  padding: 12px 10vw;
  text-align: center;
  background-color: white;
  color: #EAEAEA;
}

footer a{
  color: #EAEAEA;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

footer a:hover{
  color: #C2DF38;
}

footer p{
  color: #EAEAEA;
}

.social-link{
  font-size: 24px;
}

/* Ui Items Structure */
.color-row{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: start;
  margin: 24px auto;
  grid-row-gap: 14px;

}

.color-container{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 12px;
  box-shadow: 2px 2px 4px rgba(1, 44, 55, 0.25);
  border-radius: 3px;
}

.color-container p{
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.typo-container{
  margin: 48px auto;
}

.typo-container h1, .typo-container h2, .typo-container h3, .typo-container p{
  color: #B3B3B3;
}

.atom-container{
  margin: 12px auto;
}

/* Responsive */

@media only screen and (max-device-width : 1024px) {
  .section{
    padding: 12px 5vw;
  }

  .cards-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .color-row{
    grid-template-columns: 1fr 1fr 1fr;
  }
  }

@media only screen and (max-device-width : 767px) {
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 28px;
  }
  .header{
    flex-direction: column;
  }
    .cards-grid{
      display: grid;
      grid-template-columns: 1fr;
    }
    .color-row{
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
    }
    .color-container{
      width: 120px;
      height: 120px;
      padding: 5px;
    }
    .header-title{
      flex-direction: column;
    }

  }