/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    .f0{font-size:14px;}
    .f1{font-size:20px;}
    .f2{font-size:22px;}
    .f3{font-size:24px;}
    .f4{font-size:30px;}
    main{
        margin: 5px auto;
        width: 100%;
    }
    #pic{
        display: none;
    }
    #skills{
        text-align: left;
        width: 70%;
        position: absolute;
        top: 22%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
    }
    aside a p{
        font-size: 18px;
       
    }
    aside{
        right: 25px;
        top: 35%;
    }
    footer ul li{
	
       
        font-size: 18px;
       
    }
    
}