/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    .f0{font-size:10px;}
    .f1{font-size:16px;}
    .f2{font-size:18px;}
    .f3{font-size:20px;}
    .f4{font-size:24px;}
    main{
        margin: 10px auto;
        width: 100%;
    }
    #pic{
        display: none;
    }
    #skills{
        text-align: left;
        width: 70%;
        position: absolute;
        top: 22%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
    }
    header .logo{
        width: 70px;
    }
    aside a p{
        font-size: 18px;
       
    }
    aside{
        right: 25px;
        top: 35%;
    }
    footer{
        background-color: rgba(0, 146, 69, 0.5);
       
    }
    footer ul li{
        font-size: 18px;
        margin-top: 15px;
    }
    
}