.profile{
    display: flex;
    align-items: center;
}
.profile-description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.profile-presentation{
    margin-left: 20px;
}


/* Responsive */

@media only screen and (max-device-width : 767px) {
.profile{
    flex-direction: column;
    margin: 0;


}
.profile-description{
    flex-direction: column;
    margin: 0;
}
    }


