@mixin display-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
    padding: 32px 12px;
}

@mixin galaxy{
    background-image: url("../../assets/img/background.png");
    background-attachment: fixed;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}