@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    // fonts
    --font-default: "Roboto", sans-serif;
    --font-titles: "Archivo Black", sans-serif;
    
    // colors
    --green-yellow: #C2DF38;
    --galaxy-blue: #012C37;
    --green-hood: #009000;
    --lemon-hood: #4FC231;
    --teal-hood: #008080;
    --grape-hood: #901CD7;
    --black-hood: #041E24;
    --dark-grey: #1D2B2E;
    --iron-grey: #313F42;
    --light-iron: #50666A;
    --lighter-iron: #bcd0d4;
  }
