body{
	background-color: #fff6ce;
	
}


#background{
	background-image:url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
	background-repeat:repeat;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	z-index: -7;
	width: 100%;
	visibility: visible;
	animation-name: background;
	animation-duration: 3s;
}
@keyframes background{
	0% {width: 0;}
	100% {width: 100%;}
}

main{
	position: relative;
	width: 380px;
	margin: 48px auto;
	text-align: center;
	font-family: 'africanornamentsoneregular';
	z-index: 0;
}

#grid{
	position: absolute;
	left: 10px;
	top: 140px;
	width: 360px;
	z-index: -2;
	animation-name: grid;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}
@keyframes grid{
	0%   {transform:translate(-250px);}
	75%  {transform:translate(50px);}
  100% {transform:translate(0);}
}

.casilla{
	width: 120px;
	height: 120px;
	padding: 20px;
	font-size: 48px;
	cursor: pointer;
	z-index: 3;
	transition: all 0.4s;
}
.casilla:hover{
	background-color: coral;
	border-radius: 10px;
	opacity: .7;
	
}

h1{
	font-family: 'ethnic_abcregular';
	margin-top: 48px;
	margin-bottom: 6px;
	color:deeppink;
	animation-name: titulo;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	
}

@keyframes titulo{
	0%   {transform: translate(0, 250px);}
	75%  {transform: translate(0,-50px);}
  100% {transform: translate(0, 0px);}
}

h1 span{
	color: darkblue;
	
}

h4{
	font-family: 'ethnic_abcregular';
	font-size: 2em;
	
}

h2, h3{
	font-family: 'ethnic_abcregular';
	margin-top: 24px;
}

h2{
	margin-top: 12px;
	color: darkblue;
	transition: all 0.4;
}


h5{
	color: coral;
}
#reset{
	cursor: pointer;
	transition: all 0.4s;
}
#reset:hover{
	color: coral;
}


/* Fuentes */
@font-face {
    font-family: 'africanornamentsoneregular';
    src: url('africornone-webfont.woff2') format('woff2'),
         url('africornone-webfont.woff') format('woff'),
         url('africornone-webfont.svg#africanornamentsoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ethnic_abcregular';
    src: url('ethnicabc-regular-webfont.woff2') format('woff2'),
         url('ethnicabc-regular-webfont.woff') format('woff'),
         url('ethnicabc-regular-webfont.svg#ethnic_abcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
