/*-----RESPONSIVE STYLE-------*/

/*------MOVIL------*/
@media screen and (min-width: 50px) and (max-width: 480px){ 
    .header img{
        height: 56px;
    }
    #home{
        padding-top:56px;
    }
    .anim_home img{
        width: 200px;
    }
    
    .cont_anim_servicios{
        display:none;
    }
}
/*-------END-------*/

/*------TABLET-----*/
@media screen and (min-width:481px) and (max-width: 768px){  
    .cont_anim_servicios{
        display:none;
    }
    
}
/*-------END-------*/

/*-------PC SMALL--------*/
@media screen and (min-width: 769px) and (max-width: 990px){
    
}
/*-------END-------*/